{% if card_product.variants.size > 1 %}
  <quick-add data-product-handle="{{ card_product.handle }}">
    {%- if card_product.available -%}
      {% assign option_button_text = 'products.product.choose_option' | t %}
      {% assign option_button_disabled = false %}
    {%- else -%}
      {% assign option_button_text = 'products.product.sold_out' | t %}
      {% assign option_button_disabled = true %}
    {%- endif -%}
    
    {% render 'custom-button'
      , text: option_button_text
      , type: 'button'
      , style: 'secondary'
      , class: 'button--full-width'
      , aria_label: option_button_text
      , disabled: option_button_disabled
      , id: card_product.handle
      , name: 'commit'
      , data_product_url: card_product.url
    %}
  </quick-add>
{% elsif product %}
  <product-form class="wt-product__add-to-cart" data-hide-errors="{{ gift_card_recipient_feature_active }}">
    <div class="product-form__error-message-wrapper" role="alert" hidden>
      <span class="product-form__error-message"></span>
    </div>
    {%- form 'product',
      product,
      id: product_form_id,
      class: 'wt-product__add-to-cart_form form',
      novalidate: 'novalidate',
      data-type: 'add-to-cart-form'
    -%}
      {% if block.settings.show_gift_card_recipient and product.gift_card? %}
        {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
      {% endif %}
      <div class="wt-product__add-to-cart_form--wrapper">
        {% if block.settings.show_qty_selector %}
          {% render 'component-counter' %}
        {% endif %}
        <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}">
        {%- if card_product.selected_or_first_available_variant.available -%}
          {% assign button_text = 'products.product.add_to_cart' | t %}
          {% assign button_disabled = false %}
        {%- else -%}
          {% assign button_text = 'products.product.sold_out' | t %}
          {% assign button_disabled = true %}
        {%- endif -%}
        
        {% render 'custom-button'
          , text: button_text
          , type: 'submit'
          , style: 'secondary'
          , class: 'button--full-width'
          , aria_label: button_text
          , disabled: button_disabled
          , id: section.id
          , name: 'add'
          , button_id: 'ProductSubmitButton-' | append: section.id
        %}
      </div>
    {%- endform -%}
  </product-form>
{% endif %}
