@font-face {
  font-family: "Trim";
  src: url("https://cdn.shopify.com/s/files/1/0945/2853/6887/files/trim_regular.ttf?v=1755669695")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Tight";
  src: url("https://cdn.shopify.com/s/files/1/0945/2853/6887/files/inter_tight.ttf?v=1755669706")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.contact-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.wt-collapse__trigger .wt-icon {
  width: 48px;
  height: 48px;
  background-color: #e3e3e3;
  border-radius: var(--border-radius);
  transition: background 0.3s ease-in, color 0.3s ease-in;
  flex-shrink: 0;
  padding-left: 1rem;
}

.wt-collapse__trigger:hover .wt-icon,
.wt-collapse__trigger--active .wt-icon,
.wt-collapse__trigger[data-open="true"] .wt-icon,
.wt-collapse__trigger[aria-expanded="true"] .wt-icon {
  background: var(--color-button-primary-background);
  color: white;
}
