@font-face {
  font-family: "Trim";
  src: url("https://cdn.shopify.com/s/files/1/0945/2853/6887/files/trim_regular.ttf?v=1755669695")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Tight";
  src: url("https://cdn.shopify.com/s/files/1/0945/2853/6887/files/inter_tight.ttf?v=1755669706")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.contact-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
